@import 'tailwindcss';

body {
  font-family: theme('fontFamily.sans');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme('fontFamily.sans');
}

a {
  color: inherit;
  text-decoration: none;
}


/* Add additional global overrides below if needed */
