fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
fastapi-mcp
passlib==1.7.4
bcrypt<4
python-jose
aiosqlite
aiohttp
httpx
authlib

# For CI/Dev
flake8
pytest
pytest-asyncio
pytest-cov
