/* frontend/src/components/forms/AddAgentForm.module.css */

.addAgentFormContainer {
    background-color: var(--colors-bgSurface);
    padding: var(--spacing-6);
    border-radius: var(--radii-lg);
    box-shadow: var(--shadows-lg);
    border-width: var(--borders-width-xs);
    border-style: var(--borders-style-solid);
    border-color: var(--colors-borderDecorative);
}

.formVStack > *:not(style) ~ *:not(style) {
    margin-top: var(--spacing-4);
}
.formVStack > *:not(style):not(style) {
    margin-bottom: var(--spacing-0);
}
.formVStack > style ~ style {
    margin-top: var(--spacing-4);
}
.formVStack > style:not(style) {
    margin-bottom: var(--spacing-0);
}

.formHeading {
    font-size: var(--typography-fontSizes-md);
    color: var(--colors-textPrimary);
    margin-bottom: var(--spacing-2);
    text-align: center;
}

.formLabel {
    color: var(--colors-textPrimary);
}

.formInput {
    background-color: var(--colors-bgSurface);
    color: var(--colors-textPrimary);
    border: var(--borders-width-xs) var(--borders-style-solid) var(--colors-borderInteractive);
    border-radius: var(--radii-md);
    padding: var(--spacing-2) var(--spacing-3);
    width: var(--sizing-full);
}

.formInput:hover {
    border-color: var(--core-colors-neutralGray-400);
}

.formInput:focus {
    border-color: var(--colors-borderInteractiveFocused);
    box-shadow: var(--shadows-outline);
}

.formInput::placeholder {
    color: var(--colors-textPlaceholder);
}

.submitButton {
    background-color: var(--colors-bgInteractive);
    color: var(--colors-textInverse);
    width: var(--sizing-full);
    font-size: var(--typography-fontSizes-lg);
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    height: var(--sizing-inputHeightLarge);
    line-height: var(--typography-lineHeights-regular);
    border-radius: var(--radii-md);
    border: none;
    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--colors-bgInteractiveHover);
} 