/* frontend/src/components/forms/AddAgentForm.module.css */

.addAgentFormContainer {
    background-color: var(--chakra-colors-bg-surface);
    padding: var(--chakra-space-6);
    border-radius: var(--chakra-radii-lg);
    box-shadow: var(--chakra-shadows-lg);
    border-width: 1px;
    border-style: solid;
    border-color: var(--chakra-colors-border-base);
}

.formVStack > *:not(style) ~ *:not(style) {
    margin-top: var(--chakra-space-4);
}
.formVStack > *:not(style):not(style) {
    margin-bottom: 0;
}
.formVStack > style ~ style {
    margin-top: var(--chakra-space-4);
}
.formVStack > style:not(style) {
    margin-bottom: 0;
}

.formHeading {
    font-size: var(--chakra-fontSizes-md);
    color: var(--chakra-colors-text-primary);
    margin-bottom: var(--chakra-space-2);
    text-align: center;
}

.formLabel {
    color: var(--chakra-colors-text-primary);
}

.formInput {
    background-color: var(--chakra-colors-bg-input);
    color: var(--chakra-colors-text-primary);
    border: 1px solid var(--chakra-colors-border-input);
    border-radius: var(--chakra-radii-md);
    padding: var(--chakra-space-2) var(--chakra-space-3); /* Adjust as needed */
    width: 100%; /* Ensure input takes full width */
}

.formInput:hover {
    border-color: var(--chakra-colors-border-input_hover);
}

.formInput:focus {
    border-color: var(--chakra-colors-border-focus);
    box-shadow: var(--chakra-shadows-outline);
}

.formInput::placeholder {
    color: var(--chakra-colors-text-placeholder);
}

.submitButton {
    background-color: var(--chakra-colors-bg-button-primary);
    color: var(--chakra-colors-text-button-primary);
    width: 100%;
    font-size: var(--chakra-fontSizes-lg);
    padding-top: var(--chakra-space-2);
    padding-bottom: var(--chakra-space-2);
    padding-left: var(--chakra-space-4);
    padding-right: var(--chakra-space-4);
    height: var(--chakra-sizes-12); /* Chakra's lg size height */
    line-height: var(--chakra-lineHeights-tall); /* For vertical centering with height */
    border-radius: var(--chakra-radii-md);
    border: none;
    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--chakra-colors-bg-button-primary-hover);
} 