/* frontend/src/components/common/EditModalBase.module.css */

.modalBody {
    padding-bottom: var(--chakra-space-6); /* pb={6} */
    padding-top: var(--chakra-space-4); /* pt={4} */
}

.formFieldsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--chakra-space-4); /* spacing={4} */
    align-items: stretch; /* align="stretch" */
}

.modalFooterLayout {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.alertDialogBody {
    padding-top: var(--chakra-space-4); /* py={4} */
    padding-bottom: var(--chakra-space-4); /* py={4} */
}

.entityDisplayNameHighlight {
    font-weight: var(--chakra-fontWeights-bold);
    color: var(--chakra-colors-status-error); /* color="status.error" */
} 